<%= content_for(:title, "Information") %>

<h2><%= @link.description %></h2>

<p><%= link_to "Main Menu", links_path, :class => "btn btn-default" %></p>

<p><%= link_to "Edit", edit_link_path(@link), :class => "btn btn-primary" %></p>

<p><%= link_to "Delete", link_path(@link), :confirm => "Are you sure?", :method => "delete", :class => "btn btn-danger" %></p>
